/TicketManagerServer/bin
/TicketManagerServer/obj
/.vs
/aspnet_client
/TicketManager.DbContext/bin
/TicketManager.DbContext/obj
/*/bin
/*/obj
/TicketManagerServer/Properties
/TicketManagerServer/.config/*.json
/TicketManagerServer/.vs/TicketManagerServer/FileContentIndex/*.vsidx
