/TicketManager.Api/bin
/TicketManager.Api/obj
/.vs
/aspnet_client
/TicketManager.DbContext/bin
/TicketManager.DbContext/obj
/TicketManager.Emuns/bin/*
/TicketManager.Emuns/obj
/TicketManager.IServer/bin
/TicketManager.IServer/obj
/TicketManager.Model/bin
/TicketManager.Model/obj
/TicketManager.QueryModel/bin
/TicketManager.QueryModel/obj
/TicketManager.Repository/bin
/TicketManager.Repository/obj
/TicketManager.Server/bin
/TicketManager.Server/obj
/TicketManager.Util/bin
/TicketManager.Util/obj

/TicketManager.Api/Properties
/TicketManager.Api/.config/*.json
/TicketManager.Api/.vs/TicketManagerServer/FileContentIndex/*.vsidx
/TicketManager.Api/.vs
